/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat&family=Poppins&family=Roboto&display=swap');

:root{
  --font-family1: 'Barlow Condensed', sans-serif;
  --font-family2: 'Montserrat', sans-serif;
  --font-family3: 'Poppins', sans-serif;
  --font-family4: 'Roboto', sans-serif;
  --color-background: #000000;
  --color-foreground: #e7e5b0;
  --color-fg1: #959ae8;
  --color-btn1: #f6bcaf;
  --color-btn2: #eb937f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset some default styles */
body{
  background-color: var(--color-background);
  color: #fff;
  max-width: 60vw;
  max-height: 100dvh;
  margin: auto;
  overflow: visible;
}

nav{
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}

nav a{
  font-size: 1.4rem;
}

a{
  list-style: none;
  color: var(--color-btn2);
}

.content-img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: 0.7rem auto;
}

section{
  width: 90%;
  margin: 1.5rem auto;
}

p{
  font-family: var(--font-family4);
  font-size: 20px;
}

.cnt{
  display: block;
  font-family: var(--font-family3);
  font-size: 30px;
  margin: 30px 10px 10px 10px;
}

footer{
  text-align: center;
  margin: 1.5rem;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 812px)
{
  body{
    max-width: 100%;
  }

  p{
    font-size: 20px;
  }

  .cnt{
    font-size: 25px;
  }
}
